:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --hyperlink-color: #757575;
  --hero-text-color: #ffffff;
}

/* Main page */
.body {
  color: #212121;
  background-color: #fff;
  font-family: Roboto;
  font-style: normal;
}

/* Site nav */
.list {
  list-style: none;
}

.logo {
  color: var(--accent-text-color);
}
.studio {
  color: var(--primary-text-color);
}

.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

.contact .link {
  color: #757575;
}
.contact .link:focus,
.contact .link:hover {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  background: #2f303a;
}

/* Button */
.button {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}

.hero-title {
  color: var(--hero-text-color);
}

/* features */

.features .title {
  color: red;
}

/* our work */

/* Footer */

/* features, hyperlink color #757575 
   Footer Web color #2196F3
   color: rgba(255, 255, 255, 0.6);
   main background: #E5E5E5;
   hero\footer background: #2F303A;
   Accent, hover #2196F3 
   logo main: 2196F3
   logo span: 000000
   */ ;
