/* features, hyperlink color #757575 
   Footer Web color #2196F3
   color: rgba(255, 255, 255, 0.6);
   main background: #E5E5E5;
   hero\footer background: #2F303A;
   Accent, hover #2196F3 
   logo main: 2196F3
   logo span: 000000
   */

:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --hyperlink-color: #757575;
  --hero-text-color: #ffffff;
}

/* Main page */
.body {
  color: #212121;

  background-color: #fff;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

/* Site nav */
.list {
  list-style: none;
}
.hidden {
  display: none;
}

.logo {
  color: var(--accent-text-color);

  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.19;
  vertical-align: Top;
  text-decoration: none;
}

.studio {
  color: var(--primary-text-color);
}

.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}
.site-nav .link.current {
  color: var(--accent-text-color);
}

.contact .link {
  color: #757575;

  text-decoration: none;
}
.contact .link:focus,
.contact .link:hover {
  color: var(--accent-text-color);
}

/* Hero */
.hero {
  background: #2f303a;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

.hero-title {
  color: var(--hero-text-color);
}

/* Button */
.button {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
  font-family: Roboto;
  font-weight: bold;
  font-style: Bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
}

.pbutton {
  color: var(--primary-text-color);
  background-color: var(--hero-text-color);
  font-family: inherit;
}

.pbutton:hover,
.pbutton:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-text-color);
}

/* Content */

/* features */

.features .title {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features {
  list-style: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/* our work */

/* Footer */
